export APP_ROOT=$(pwd)

. .secret.envrc

export DOCKER_WRAPPER_IMAGE_openjdk=8-jdk-slim-stretch
export DOCKER_WRAPPER_IMAGE_mysql=5.7.24
export DOCKER_WRAPPER_SERVER_OPTS_javaserver="-p ${LABO_PORT_PREFIX}80:8080"
export DOCKER_WRAPPER_JAVASERVER_CMD="$APP_ROOT/keycloak/bin/standalone.sh -b 0.0.0.0 --server-config=standalone-ha.xml -Djava.security.egd=file:/dev/urandom -Djavax.net.ssl.trustStore=$APP_ROOT/tmp/ssl/truststore -Djavax.net.ssl.trustStorePassword=MySQLCACertPass -Djavax.net.ssl.keyStore=$APP_ROOT/tmp/ssl/keystore -Djavax.net.ssl.keyStorePassword=mysqlclientpass -Dsystems.getto.keycloak.mysql.connectionurl='jdbc:mysql://$DEV_DB/keycloak_dev?useSSL=true' -Dsystems.getto.keycloak.mysql.username=$DEV_DB_USERNAME -Dsystems.getto.keycloak.mysql.password=$DEV_DB_PASSWORD"
export DOCKER_WRAPPER_APP_TARGET=javaserver
